 body{
background-color: rgb(22, 104, 182);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 
'Lucida Grande', 'Lucida Sans Unicode',
 Geneva, Verdana, sans-serif;
 }
 #Card {
    height: 400px;
    width: 400px;
     border-radius: 25px;
    background-color: rgb(103, 150, 238);
     padding: 40px;
     margin: 20px auto;
 }

 h1{
    color: rgb(245, 245, 245);
 }
 
 img{
height: 150px;
width: 150px;
 border-radius: 50%;
 object-fit: cover;

 }
 i{
color: rgb(205, 194, 216);
font-size: 24px;

 }